<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findgasstation.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    
    <!-- 进行网络定位的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <!-- 访问GPS定位的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- 获取运营商信息的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:name="com.findgasstation.app.activity.FindGasStationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <!-- 百度地图的必要的验证id -->
        <meta-data 
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5wVGzqZy0c5MFwGNiAju15Fj"/>
        
        <!-- 聚合数据的必要的验证id -->
        <meta-data 
            android:name="com.thinkland.juheapi.openid"
            android:value="JHdc5c31d5ee7c2899e3c7e7b6b53483e3"/>
        
        <activity
            android:name="com.findgasstation.app.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.findgasstation.app.activity.StationInfoActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.findgasstation.app.activity.StationListActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.findgasstation.app.activity.RouteActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
    </application>

</manifest>
